.category-section {
  padding: 10px;
}
body {
  background-color: #d5f3f9;
}
.category-section h1 {
  text-align: center;
  margin: 10px 0;
  font-weight: 500;
}
.category-container {
  display: grid;
  max-width: 1200px;
  justify-items: center;
  padding: 1em;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
.category-container > a {
  display: flex;
  color: black;
  text-decoration: none;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px black;
}
.category-container > a h2 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
}
.category-container img {
  width: 100%;
  aspect-ratio: 1/1;
  height: 220px;
  object-fit: cover;
}

.quiz-section {
  padding: 10px;
}
.quiz-container {
  display: grid;
  gap: 1em;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}
.quiz-section h1 {
  color: #f72585;
  text-align: center;
  margin: 10px 0;
}
.question-container {
  display: grid;
  gap: 0.5rem;
}
.question-container p {
  color: #404257;
  font-weight: 600;
}
.options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1em;
}
.edits {
  display: flex;
  gap: 0.3em;
  justify-self: end;
}
.options button {
  padding: 0.4em;
  background-color: #3a86ff;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 6px;
}
.edits button {
  padding: 0.3em 0.6em;
  font-weight: bold;
}
.edits button:first-child {
  --bg-color: #ec1274;
  background-color: var(--bg-color);
  color: white;
  border: none;
  border-radius: 8px;
}
.edits button:last-child {
  --bg-color: #18a02f;
  background-color: var(--bg-color);
  color: white;
  border: none;
  border-radius: 8px;
}
.edits button:hover {
  color: var(--bg-color);
  background-color: white;
  border: 1px solid var(--bg-color);
}
.options button.select,
.options button:hover {
  background-color: #03045e;
}
.finish-btn {
  width: 100%;
  max-width: 200px;
  padding: 0.4em;
  display: block;
  background-color: #023e8a;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 10px;
  margin: 0 auto;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.results h2 {
  font-size: 2rem;
  color: #F72585;

}
.results p{
  font-size: 3rem;
  color: #560BAD;
}
@media (max-width: 960px) {
  .category-container img {
    width: 270px;
  }
}
